<div class="container-fluid d-flex my-2 justify-content-start align-items-center">
    <div class="col-md-3 d-flex"></div>
    <div class="{{'col-md-5 text-center text-white alert alert-'+classType}}">
        {{message}}
    </div>   
</div>

<!-- <div class="row"> -->
    <div class="white-box">
        <form class="my-3" role="form text-left" [formGroup]="registerForm">
            <div class="d-flex align-items-center" >
                <div class="col-md-5 pr-3">
                    <div class="set-ac">
                        <span>Email:</span>
                    </div>
                    <div class="set-ac2">
                        <input class="w-100" type="email" matInput placeholder="t@qr-fox.com" formControlName="email">
                    </div>
                    <div class="f-height">
                        <span class="text-danger c-font-size mx-2"
                            *ngIf="(formControl.email.touched) && formControl.email.errors?.required">
                            Email is required
                        </span>
                        <span class="text-danger c-font-size mx-2"
                            *ngIf="(formControl.email.touched) && formControl.email.errors?.pattern">
                            Invalid Email
                        </span>
                    </div>
                </div>
                <div class="col-md-5 pr-3">
                    <div class="set-ac">
                        <span>Password:</span>
                    </div>
                    <div class="set-ac2">
                        <input class="w-100" type="password" matInput placeholder="password" formControlName="password">
                    </div>
                    <div class="f-height">
                        <span class="text-danger c-font-size mx-2"
                            *ngIf="(formControl.password.touched) && formControl.password.errors?.required">
                            Password is required
                        </span>
                        <span class="text-danger c-font-size mx-2"
                            *ngIf="(formControl.password.touched) && formControl.password.errors?.minlength">
                            must be at least 8 characters long.
                        </span>
                    </div>
                </div>
                <div class="col-md-2 mb-2 d-flex justify-content-center">
                    <button (click)="addUser()" type="button" [disabled]="!registerForm.valid"
                            class="btn btn-primary default-btn btn-lg">Create</button>
                </div>
            </div>
        </form>
    </div>   
<!-- </div> -->

<div class="mat-elevation-z8 cb">
    <table mat-table [dataSource]="userFiles" matSort class="mat-elevation-z8"
        (matSortChange)="announceSortChange($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.id}}.
                </span>
            </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Email </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left">
                <!-- <span *ngIf="element.isEdit">
                    <input type="email" class="form-control" [(ngModel)]="element.email">
                </span> -->
                <span class="text-secondary text-xs font-weight-normal">{{element.email}}</span>
            </td>
        </ng-container>

        <!-- Created at Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Created At </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left">
                <!-- {{element.created_at | date:'shortDate'}} -->
                <span class="text-secondary text-xs font-weight-normal">{{element.created_at | date:'shortDate'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
            <td mat-cell *matCellDef="let element" class="action-link text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="Icon editIcon mx-1" (click)="editUser(element)" data-bs-toggle="modal"
                        data-bs-target="#update-form">
                        <span class="inner"></span>
                        <mat-icon class="matIcon">edit</mat-icon>
                    </a>
                    <a class="Icon deleteIcon mx-1" (click)="deleteUser(element)">
                        <span class="inner"></span>
                        <mat-icon class="matIcon">delete_outline</mat-icon>
                    </a>
                </div>
            </td>
        </ng-container>

        <tr class="mat-row text-center" *matNoDataRow>
            <td class="mat-cell py-4" colspan="4">No users found!</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>


<div class="modal fade" id="update-form" tabindex="-1" role="dialog" aria-labelledby="update-form" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="spinner-border modal-loader" *ngIf="showmOdal"></div>
            <div class="col text-end my-2 mx-2">
                <button #closeUpdateModal type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="">
                    <div class="card-header pb-0 text-left">
                        <p class="text-center modalTitle">User Details</p>
                        <p class="text-center" style="{{'color:'+classType}}">{{msgForModal}}</p>
                    </div>
                    <div>
                        <form class="p-3" role="form text-left" [formGroup]="updateForm">

                            <div class="col-sm-12">
                                <div class="set-ac">
                                    <span>Device Id:</span>
                                </div>
                                <div class="set-ac2">
                                    <input class="w-100" type="text" matInput placeholder="Device id" formControlName="device_id">                                   
                                </div>
                                <div class="f-height">
                                    <span class="text-danger c-font-size mx-2" *ngIf="(editFormControl.device_id.touched) && editFormControl.device_id.errors?.required">
                                        Device Id is required
                                    </span>
                                    <span class="text-danger c-font-size mx-2" *ngIf="(editFormControl.device_id.touched) && editFormControl.device_id.errors?.pattern">
                                        Invalid Device Id
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="set-ac">
                                    <span>Platform:</span>
                                </div>
                                <div class="set-ac2">                                   
                                    <select matNativeControl class="w-100 cs" formControlName="platform">
                                        <option value="" disabled>select</option>
                                        <option *ngFor="let item of platforms" [value]="item.id">{{item.text}}</option>
                                    </select>                                   
                                </div>
                                <div class="f-height">
                                    <span class="text-danger c-font-size mx-2" *ngIf="(editFormControl.platform.touched) && editFormControl.platform.errors?.required">
                                        Platform is required
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="set-ac">
                                    <span>Country Code:</span>
                                </div>
                                <div class="set-ac2">
                                    <input type="text" class="w-100" formControlName="country_code" matInput>                                  
                                </div>
                                <div class="f-height">
                                    <span class="text-danger c-font-size mx-2" *ngIf="(editFormControl.country_code.touched) && editFormControl.country_code.errors?.required">
                                        Country code is required
                                    </span>                                    
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button [disabled]="!updateForm.valid" (click)="saveUser()" type="button"
                                    class="btn btn-primary default-btn btn-lg mt-4 mb-0">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>