<div class="container d-flex justify-content-start mt-3 align-items-center">
    <div class="col-md-4">
        <div class="input-group input-group-static mb-4 is-valid">
            <label>Search</label>
            <input type="text" class="form-control" (keyup)="applyFilter($event.target)">
        </div>
    </div>
    <div class="{{'col-md-4 text-center text-white alert alert-'+classType}}">
        {{message}}
    </div>
    <div class="col-md-4 text-end">
        <i class="fa fa-plus" style="font-size:24px" data-bs-toggle="modal" data-bs-target="#modal-form">
        </i>
    </div>
</div>

<div class="mat-elevation-z8 cb">
    <table mat-table [dataSource]="userFiles" matSort class="mat-elevation-z8"
        (matSortChange)="announceSortChange($event)">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.id}}.
                </span>
            </td>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> Name </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.isEdit">
                    <input type="text" class="form-control" [(ngModel)]="element.name">
                </span>
                <span *ngIf="!element.isEdit" class="text-secondary text-xs font-weight-normal">
                    {{element.name}}
                </span>
            </td>
        </ng-container> -->

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Email </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left">
                <!-- <span *ngIf="element.isEdit">
                    <input type="email" class="form-control" [(ngModel)]="element.email">
                </span> -->
                <span class="text-secondary text-xs font-weight-normal">{{element.email}}</span>
            </td>
        </ng-container>

        <!-- Created at Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Created At </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left">
                <!-- {{element.created_at | date:'shortDate'}} -->
                <span class="text-secondary text-xs font-weight-normal">{{element.created_at | date:'shortDate'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
            <td mat-cell *matCellDef="let element" class="action-link text-center">
                <div>
                    <a (click)="editUser(element)" data-bs-toggle="modal" data-bs-target="#update-form"><mat-icon>edit</mat-icon></a>
                    <a (click)="deleteUser(element)"><mat-icon>delete_outline</mat-icon></a>
                </div>
                <!-- <div *ngIf="element.isEdit">
                    <a (click)="saveUser()"><mat-icon>save</mat-icon></a>
                    <a (click)="cancelUser(element)"><mat-icon> cancel_presentation</mat-icon></a>
                </div> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">

        <div class="modal-content">
            <div class="col text-end">
                <button #closebutton type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <p class="mb-0 text-center modalTitle">Create new user</p>
                        <p class="text-center" style="{{'color:'+classType}}">{{msgForModal}}</p>
                    </div>
                    <div class="card-body">
                        <form role="form text-left" [formGroup]="registerForm">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput>
                            </mat-form-field>
                          
                            <div class="text-center">
                                <button (click)="addUser()" type="button" [disabled]="!registerForm.valid"
                                    class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-form" tabindex="-1" role="dialog" aria-labelledby="update-form" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">

        <div class="modal-content">
            <div class="col text-end">
                <button #closeUpdateModal type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <p class="mb-0 text-center modalTitle">Update user Details</p>
                        <p class="text-center" style="{{'color:'+classType}}">{{msgForModal}}</p>
                    </div>
                    <div class="card-body">
                        <form role="form text-left" [formGroup]="updateForm">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Device Id</mat-label>
                                <input formControlName="device_id" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Platform</mat-label>
                                <input formControlName="platform" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Country Code</mat-label>
                                <input formControlName="country_code" matInput>
                            </mat-form-field>
                          
                            <div class="text-center">
                                <button (click)="saveUser()" type="button" 
                                    class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>