
<!-- Card Change Password -->
<div class="row mb-4">
  <div class="col-sm-3"></div>  
  <div class="col-sm-6">
    <div class="" id="password">       
      <div class="d-flex align-items-center">      
        <div class="{{'col-sm-12 col-md-12 text-center text-white alert alert-'+classType}}">
          {{msg}}
        </div>    
      </div>
      <div class="pt-1">
        <form [formGroup]="passwordResetForm">
          <div class="set-ac1 d-flex">
            <h2>Change Password</h2>
          </div>
          <div class="set-ac2">
              <input class="w-100" matInput formControlName="current_password" placeholder="Current Password">
          </div>
          <div class="f-height">
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.current_password.touched) && formControl.current_password.errors?.required">
                Current password is required
            </span>
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.current_password.touched) && formControl.current_password.errors?.minlength">
              Password must be at least 8 characters long.
          </span>
          </div>
          
          <div class="set-ac2">
            <input type="password" class="w-100" matInput formControlName="password" placeholder="New password">
          </div>
          <div class="f-height">
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.password.touched) && formControl.password.errors?.required">
                Password is required
            </span>
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.password.touched) && formControl.password.errors?.minlength">
              Password must be at least 8 characters long.
            </span>
          </div>

          <div class="set-ac2">
            <input type="text" class="w-100" matInput formControlName="password_confirmation" placeholder="Confirm New password">
          </div>
          <div class="f-height">
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.password_confirmation.touched) && formControl.password_confirmation.errors?.required">
                Confirm password is required
            </span>
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.password_confirmation.touched) && formControl.password_confirmation.errors?.minlength">
              Password must be at least 8 characters long.
            </span>
            <span class="text-danger c-font-size mx-2" *ngIf="(formControl.password_confirmation.touched) && formControl.password_confirmation.errors?.confirmedValidator">
              Password mismatch.
            </span>
            
          </div>
              
          <h5 class="mt-2">Password requirements</h5>
          <p class="text-muted mb-2">
            Please follow this guide for a strong password:
          </p>
          <ul class="text-muted ps-4 mb-0 float-start">
            <li>
              <span class="text-sm">One special characters</span>
            </li>
            <li>
              <span class="text-sm">Min 8 characters</span>
            </li>
            <li>
              <span class="text-sm">One number (2 are recommended)</span>
            </li>
            <li>
              <span class="text-sm">Change it often</span>
            </li>
          </ul>
          <button (click)="reset()" [disabled]="!passwordResetForm.valid"
            class="btn btn-primary default-btn float-end mt-6 mb-0">Update</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<!-- Card Change Password -->