<div class="container">
    <div class="msg d-flex align-items-center justify-content-center">
        {{msg}}
    </div>

    <form role="form" [formGroup]="createForm" method="post" class="text-start">
        <div class="text-center d-grid">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ultra.." formControlName="name" required>
                <mat-error *ngIf="createForm.controls.name.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Tagline</mat-label>
                <input matInput placeholder="Tagline" formControlName="tagline" required>
                <mat-error *ngIf="createForm.controls.tagline.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Number of Codes Tag Prefix</mat-label>
                <input matInput placeholder="Number of Codes Tag Prefix" formControlName="number_of_codes_tag_prefix">
                <mat-error *ngIf="createForm.controls.number_of_codes_tag_prefix.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Number Of Codes</mat-label>
                <input matInput placeholder="Number of codes" formControlName="number_of_codes">
                <mat-error *ngIf="createForm.controls.number_of_codes.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Number of Codes Text</mat-label>
                <input matInput placeholder="Number of Codes Text" formControlName="number_of_codes_text">
                <mat-error *ngIf="createForm.controls.number_of_codes_text.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Price Tag Prefix</mat-label>
                <input matInput placeholder="Price Tag Prefix" formControlName="price_tag_prefix">
                <mat-error *ngIf="createForm.controls.price_tag_prefix.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Price Tag Sufix</mat-label>
                <input matInput placeholder="Price Tag Sufix" formControlName="price_tag_surfix">
                <mat-error *ngIf="createForm.controls.price_tag_surfix.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Descriptions</mat-label>
                <textarea matInput placeholder="Descriptions" formControlName="descriptions" required></textarea>
                <mat-error *ngIf="createForm.controls.descriptions.invalid"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cta Text</mat-label>
                <input matInput placeholder="Cta Text" formControlName="cta_text" required>
                <mat-error *ngIf="createForm.controls.cta_text.invalid"></mat-error>
            </mat-form-field>

            <div class="d-flex">
                <section class="example-section">
                    <mat-checkbox matInput formControlName="is_free" class="example-margin">Free</mat-checkbox>
                    <mat-checkbox matInput formControlName="is_custom" class="example-margin">Custom</mat-checkbox>
                </section>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Sorting Order</mat-label>
                <input matInput placeholder="Sorting Order" formControlName="sorting_order" required>
                <mat-error *ngIf="createForm.controls.sorting_order.invalid"></mat-error>
            </mat-form-field>

            <button type="button" (click)="submit()" [disabled]="!createForm.valid"
                class="btn btn-primary primary-color w-100 my-4 mb-2">Submit</button>
        </div>
    </form>
</div>