<div class="container">
    <form role="form" [formGroup]="createForm" method="post" class="text-start mt-4">
        <div class="set-ac1 d-flex">
            <h2>Create Plan</h2>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Name:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Ultra.." formControlName="name">
                </div>

                <div class="f-height">
                    <span class="text-danger c-font-size mx-2" *ngIf="(formControl.name.touched) && formControl.name.errors?.required">
                        Name is required
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Tagline:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Tagline" formControlName="tagline">
                </div>
                <div class="f-height"></div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Number of Codes Tag Prefix:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Codes Tag Prefix"
                        formControlName="number_of_codes_tag_prefix">
                </div>
                <div class="f-height"></div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Number Of Codes:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Number of codes" formControlName="number_of_codes">
                </div>
                <div class="f-height">
                    <span class="text-danger c-font-size mx-2" *ngIf="(formControl.number_of_codes.touched) && formControl.number_of_codes.errors?.pattern">
                        Integer number is required
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Number of Codes Text:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Number of Codes Text" formControlName="number_of_codes_text">
                </div>
                <div class="f-height"></div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Price Tag Prefix:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Price Tag Prefix" formControlName="price_tag_prefix">
                </div>
                <div class="f-height"></div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Price Tag Sufix:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Price Tag Sufix" formControlName="price_tag_surfix">
                </div>
                <div class="f-height"></div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Cta Text:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Cta Text" formControlName="cta_text">                   
                </div>
                <div class="f-height">
                    <span class="text-danger c-font-size mx-2" *ngIf="(formControl.cta_text.touched) && formControl.cta_text.errors?.required">
                        Cta Text is required
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="set-ac">
                    <span>Sorting Order:</span>
                </div>
                <div class="set-ac2">
                    <input type="text" matInput placeholder="Sorting Order" formControlName="sorting_order">
                </div>
                <div class="f-height">
                    <span class="text-danger c-font-size mx-2" *ngIf="(formControl.sorting_order.touched) && formControl.sorting_order.errors?.required">
                        Sorting Order is required
                    </span>
                    <span class="text-danger c-font-size mx-2" *ngIf="(formControl.sorting_order.touched) && formControl.sorting_order.errors?.pattern">
                        Integer number is required
                    </span>                   
                </div>
            </div>
        </div>
      
        <div class="" formArrayName="descriptions">
            <!-- <div class="set-ac">
                <span>Descriptions:</span>
            </div> -->
           
            <button type="button" class="btn btn-sm btn-success mb-3 btn-block" (click)="addDescription()">Add Descriptions</button>
            <div class="set-ac2" *ngFor="let item of descriptions.controls; let i = index">
                <textarea class="w-100" matInput placeholder="Descriptions" [formControlName]="i"
                    ></textarea>
                <span class="text-danger c-font-size mx-2" *ngIf="(item.touched) && item.invalid">
                    Description is required
                </span>
            </div>
           
        </div>

        <div class="f-height"></div>
        
        <div class="d-flex">            
            <section class="example-section">
                <mat-checkbox matInput formControlName="is_free" class="example-margin">Free</mat-checkbox>
                <mat-checkbox matInput formControlName="is_custom" class="example-margin">Custom</mat-checkbox>
            </section>
        </div>

        <div class="d-flex justify-content-start">
            <button type="button" (click)="submit()" [disabled]="!createForm.valid"
                class="btn btn-primary default-btn my-4 mb-2">Submit</button>
        </div>
    </form>
</div>