<div class="container">
    <div class="msg d-flex align-items-center justify-content-center">
        {{msg}}
    </div>
    <form role="form" [formGroup]="editForm" method="post" class="text-start">
        <div class="set-ac1 d-flex">
            <h2>Edit Plan</h2>
        </div>

        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Name:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Ultra.." formControlName="name" required>
                    <mat-error *ngIf="editForm.controls.name.invalid"></mat-error>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Tagline:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Tagline" formControlName="tagline" required>
                    <mat-error *ngIf="editForm.controls.tagline.invalid"></mat-error>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Number of Codes Tag Prefix:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Number of Codes Tag Prefix" formControlName="number_of_codes_tag_prefix">
                    <mat-error *ngIf="editForm.controls.number_of_codes_tag_prefix.invalid"></mat-error>
                </div>
            </div>           
        </div>

        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Number Of Codes:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Number of codes" formControlName="number_of_codes">
                    <mat-error *ngIf="editForm.controls.number_of_codes.invalid"></mat-error>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Number of Codes Text:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Number of Codes Text" formControlName="number_of_codes_text">
                    <mat-error *ngIf="editForm.controls.number_of_codes_text.invalid"></mat-error>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Price Tag Prefix:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Price Tag Prefix" formControlName="price_tag_prefix">
                    <mat-error *ngIf="editForm.controls.price_tag_prefix.invalid"></mat-error>
                </div>
            </div>            
        </div>

        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Price Tag Sufix:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Price Tag Sufix" formControlName="price_tag_surfix">
                    <mat-error *ngIf="editForm.controls.price_tag_surfix.invalid"></mat-error>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Cta Text:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Cta Text" formControlName="cta_text" required>
                    <mat-error *ngIf="editForm.controls.cta_text.invalid"></mat-error>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Sorting Order:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Sorting Order" formControlName="sorting_order" required>
                    <mat-error *ngIf="editForm.controls.sorting_order.invalid"></mat-error>
                </div>
            </div>           
        </div>

        <div class="">
            <div class="set-ac">
                <span>Descriptions:</span>
            </div>
            <div class="set-ac2">
                <textarea class="w-100" matInput placeholder="Descriptions" formControlName="descriptions" required></textarea>
                <mat-error *ngIf="editForm.controls.descriptions.invalid"></mat-error>
            </div>
        </div>
     
        <div class="d-flex">
            <section class="example-section">
                <mat-checkbox matInput formControlName="is_free" class="example-margin">Free</mat-checkbox>
                <mat-checkbox matInput formControlName="is_custom" class="example-margin">Custom</mat-checkbox>
            </section>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" (click)="update()" [disabled]="!editForm.valid"
                class="btn btn-primary default-btn my-4 mb-2">Update</button>
        </div>
    </form>
</div>