
<div class="container-fluid d-flex justify-content-between align-items-center mb-3">
    <div class="col-md-3 d-flex">
        <!-- <label for="search" class="col-sm-2 col-form-label">Search</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" (keyup)="applyFilter($event.target)">
        </div> -->
    </div>
    <div class="{{'col-md-4 text-center text-white alert alert-'+classType}}">        
        {{message}}
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <span class="material-icons customHover" (click)="createPlan()">note_add</span>
    </div>
</div>

<div class="mat-elevation-z8 cb mb-4">
    <table mat-table 
        [dataSource]="userPlans" 
        matSort 
        class="mat-elevation-z8"
    >

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;"> 
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.id}}. 
                </span>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Name </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left">                 
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.name}}
                </span>               
            </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Price </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    ${{element.price}}
                </span>
            </td>
        </ng-container>

        <!-- Descriptions Column -->
        <ng-container matColumnDef="descriptions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Description </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.descriptions}}
                </span>
            </td>
        </ng-container>

        <!-- number_of_codes Column -->
        <ng-container matColumnDef="number_of_codes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Codes </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.number_of_codes}}
                </span>
            </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration_in_months">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Duration </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.duration_in_months}}
                </span>
            </td>
        </ng-container>

        <!-- tracking_enabled Column -->
        <ng-container matColumnDef="tracking_enabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Tracking </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.tracking_enabled ? 'Enabled' : 'Disabled'}}
                </span>
            </td>
        </ng-container>

        <!-- only_trackable Column -->
        <ng-container matColumnDef="only_trackable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Trackable </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.only_trackable ? 'Yes' : 'No'}}
                </span>
            </td>
        </ng-container>

         <!-- contains_ad Column -->
         <ng-container matColumnDef="contains_ad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Ads </th>
            <td mat-cell *matCellDef="let element">               
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.contains_ad ? 'Yes' : 'No'}}
                </span>
            </td>
        </ng-container>

        <!-- Created at Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Created At </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left"> 
                <!-- {{element.created_at | date:'shortDate'}} -->
                <span class="text-secondary text-xs font-weight-normal">{{element.created_at | date:'shortDate'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
            <td mat-cell *matCellDef="let element" class="action-link text-center">  
                <a (click)="editPlan(element)"><mat-icon class="customHover">edit</mat-icon></a> 
                <a (click)="deletePlan(element)"><mat-icon class="customHover">delete_outline</mat-icon></a>  
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>