<!-- Navbar -->
<div class="top-header">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-8">
            <div class="search">
                <input type="text" [(ngModel)]="searchInput" (keyup)="search()" placeholder="Search"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="name">
                <div class="name1">
                    <label>{{adminEmail}}</label>
                    <span>Administrator</span>
                </div>
                <div class="name2">
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Navbar -->


