
<!-- <div class="card z-index-2 ">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
        <div class="shadow-primary border-radius-lg pe-1">
            <div class="myPieChart" id="{{type}}">
            </div>
        </div>
    </div>
    <div class="card-body">
        <h6 class="mb-0 ">{{type}} Views</h6>
        <p class="text-sm ">Last Campaign Performance</p>
        <hr class="dark horizontal">
        <div class="d-flex ">
            <i class="material-icons text-sm my-auto me-1">schedule</i>
            <p class="mb-0 text-sm"> Last Updated on 03-03-2023 </p>
        </div>
    </div>
</div> -->
<div class="myPieChart" id="{{type}}">
</div>

