.code {
    text-align: center;
    color: red;
}

.loader {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    display: none;  
}

.header-text {
    font: 400 24px/32px Roboto, sans-serif;
    letter-spacing: normal;
}