<div class="container">
    <div class="msg d-flex align-items-center justify-content-center">
        {{msg}}
    </div>

    <form role="form" [formGroup]="createForm" method="post" class="text-start">
        <div class="set-ac1 d-flex">
            <h2>Create Pricing</h2>
        </div>
    
        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Plan:</span>
                </div>
                <div class="set-ac2">
                    <mat-select formControlName="plan_id">
                        <mat-option *ngFor="let plan of plans" [value]="plan.id">
                            {{plan.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Platform:</span>
                </div>
                <div class="set-ac2">
                    <mat-select formControlName="platform">
                        <mat-option *ngFor="let platform of platforms" [value]="platform">
                            {{platform}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Payment Gateway:</span>
                </div>
                <div class="set-ac2">
                    <mat-select formControlName="payment_gateway">
                        <mat-option *ngFor="let gateway of gateways" [value]="gateway">
                            {{gateway}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        
        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Name:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="Ultra.." formControlName="name">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Price:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="$4" formControlName="price">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Duration in months:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="1-12" formControlName="duration_in_months">
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Time interval:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="month" formControlName="time_interval">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Discounted price:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="$2.65" formControlName="discounted_price">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Sorting Order:</span>
                </div>
                <div class="set-ac2">
                    <input matInput placeholder="2" formControlName="sorting_order">
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Discount Start date:</span>
                </div>
                <div class="set-ac2">
                    <input matInput formControlName="discount_start_date" [matDatepicker]="startDatepicker">
                    <mat-datepicker-toggle class="matDateToggler" matIconSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="set-ac">
                    <span>Discount End date:</span>
                </div>
                <div class="set-ac2">
                    <input matInput formControlName="discount_end_date" [matDatepicker]="endDatepicker">
                    <mat-datepicker-toggle class="matDateToggler" matIconSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatepicker></mat-datepicker>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <section class="example-section">
                <mat-checkbox matInput formControlName="list_on_ui" class="example-margin">List on Ui</mat-checkbox>
                <mat-checkbox matInput formControlName="is_recurring" class="example-margin">Recurring</mat-checkbox>
                <mat-checkbox matInput formControlName="discount_enabled" class="example-margin">Discount
                    Enabled</mat-checkbox>
            </section>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" (click)="submit()" [disabled]="!createForm.valid"
            class="btn btn-primary default-btn my-4 mb-2">Submit</button>
        </div>
      
    </form>
</div>