.logo{
    padding: 30px;
}
.logo img{
    max-width: 100%;
    object-fit: contain;
}
ul.side-menu{
    width: 100%;
    display: inline-block;
    padding: 0;
}
ul.side-menu li{
    width: 100%;
    display: inline-block;
    list-style-type: none;
}
ul.side-menu li a{
    width: 100%;
    display: block;
    color: #000;
    font: 600 16px/24px "Montserrat", sans-serif;
    text-align: left;
    text-decoration: none;    
    transition: all 0.5s;
    padding: 15px 0px 15px 13px;
}
ul.side-menu li a:hover{
    background: #DBF5FC;
}
ul.side-menu li a.active{
    background: #DBF5FC;
}

.logout:hover {
    cursor: pointer;
}

.user-sub-menu {
    display: none;
}

.users:hover {
    .user-sub-menu  {
        display: block !important;
    }
}

.down-arrow {
    position: absolute;
    right: 10px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #515151 !important;
	color: #9d9d9d;
}

.nav-list > li > a {
	color: #C4C4C4;
	font-size: 14px;
	padding-left: 13px !important;
	border-bottom: 1px solid #585858;
}

.nav-list > li > a:hover {
	background-color: #444444;
}

#column_left {
	background-color: #515151;
}

.left-content {
    height: 100vh;
    overflow-y: auto;
}