<div class="left-content">
    <div class="logo">
        <a [routerLink]="'./analytics'">
            <img src="./assets/img/logo.png" alt="QR-Fox">
        </a>
    </div>
    <ul class="side-menu">       
        <li>
            <a routerLinkActive="active" [routerLink]="'./analytics'">
                <label><i class="fa fa-bar-chart" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Analytics</span>
            </a>
        </li>
        <li class="nav-item" id="myDropdown">
            <a class="nav-link pr" routerLinkActive="active" data-bs-toggle="collapse" href="#submenu2">
                <label><i class="fa fa-user" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Users</span>
                <!-- <span class="down-arrow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span> -->
            </a>
            <ul class="collapse" id="submenu2">
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="'./users/create'"> Add User </a></li>
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="'./users'"> User list </a></li>
            </ul>
        </li>
        <li>
            <a routerLinkActive="active" data-bs-toggle="collapse" href="#plan">
                <label><i class="fa fa-credit-card-alt" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Plans</span>
            </a>
            <ul class="collapse" id="plan">
                <li><a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="'./plans/create-plan'"> Add Plan </a></li>
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="'./plans'"> Plan list </a></li>
            </ul>
        </li>
        <li>
            <a routerLinkActive="active" data-bs-toggle="collapse" href="#price">
                <label><i class="fa fa-credit-card-alt" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Pricing</span>
            </a>
            <ul class="collapse" id="price">
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="'./pricing/create-pricing'"> Add Price </a></li>
                <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item" [routerLink]="'./pricing'"> Price list </a></li>
            </ul>
        </li>
        <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="'./payments'">
                <label><i class="fa fa-money" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Payment</span>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLink]="'./settings'">
                <label><i class="fa fa-cog" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Settings</span>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLink]="'./site-settings'">
                <label><i class="fa fa-cog" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Site Settings</span>
            </a>
        </li>
        <li>
            <a class="logout" (click)="logout()">
                <label><i class="fa fa-sign-out" aria-hidden="true"></i></label>
                <span class="nav-link-text ms-2 ps-1">Log Out</span>
            </a>
        </li>
    </ul>
</div>