/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cursor {
    cursor: pointer;
}

.msg {
    color: green;
    font-size: 24px;
    height: 60px;
}

.customHover:hover {
    cursor: pointer;
}

.list-group-item a {
    text-decoration: none !important;
}

.list-group-item:hover {
    background: lightgray!important;
    cursor: pointer;
}

.list-group-item.active {
    background: lightgray!important;
    cursor: pointer;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.loginBtn {
    position: absolute;
    bottom: 15%;
    left: 40%;
}

.primary-color {
    background-color: #02b4e7 !important;   
    border-color: #02b4e7 !important; 
    color: white !important
}

.home {
    background-color: #8ADEF6 !important; 
}