<div class="row mt-4 align-items-center">
    <div class="col-md-3">
        <div class=" set-ac2">
            <input type="text" [(ngModel)]="searchInput" (keyup)="applyFilter()" placeholder="Search"/>
        </div>        
    </div> 
    <div class="col-md-3">
        <div class="set-ac2 m-0">
            <select id="platform" (change)="applyFilter()" name="platform" [(ngModel)]="selectedPlatform">
                <option value="">--select platform--</option>
                <option *ngFor="let item of platforms" [value]="item.id">{{item.text}}</option>
            </select>
        </div>       
    </div>
</div>
<div class="mat-elevation-z8 cb mt-4 mb-4">
    <table mat-table [dataSource]="srcPricings" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.sno}}.
                </span>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Name </th>
            <td mat-cell *matCellDef="let element" class="align-middle text-left">
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.name}}
                </span>
            </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Price </th>
            <td mat-cell *matCellDef="let element">
                <span class="text-secondary text-xs font-weight-normal">
                    ${{element.price}}
                </span>
            </td>
        </ng-container>

        <!-- payment_gateway Column -->
        <ng-container matColumnDef="payment_gateway">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Payment Gateway </th>
            <td mat-cell *matCellDef="let element">
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.payment_gateway}}
                </span>
            </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration_in_months">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Duration </th>
            <td mat-cell *matCellDef="let element">
                <span class="text-secondary text-xs font-weight-normal">
                    {{(element.duration_in_months) ? element.duration_in_months + ' month' : ''}}
                </span>
            </td>
        </ng-container>

        <!-- platform Column -->
        <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
                class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Platform </th>
            <td mat-cell *matCellDef="let element">
                <span class="text-secondary text-xs font-weight-normal">
                    {{element.platform}}
                </span>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Action</th>
            <td mat-cell *matCellDef="let element" class="action-link text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="Icon editIcon mx-1" (click)="editPricing(element)">
                        <span class="inner"></span>
                        <mat-icon class="matIcon">edit</mat-icon>
                    </a>
                    <a class="Icon deleteIcon mx-1" (click)="deletePricing(element)">
                        <span class="inner"></span>
                        <mat-icon class="matIcon">delete_outline</mat-icon>
                    </a>
                </div>
            </td>
        </ng-container>

        <tr class="mat-row text-center" *matNoDataRow>
            <td class="mat-cell py-4" colspan="11">No Pricing found!</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="pageSize" #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>